:root{
    
--text-color:rgba(185, 194, 216, 0.774);
--card-front-color:#0b5d97;
--card-back-color:rgb(4, 15, 98);

}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    

body{
    background: url(img/wallywest.jpeg);
    font-family:"PT Serif", serif ;
}
footer{
    background-color: aqua;
    color: black;
    bottom:0;
    position:fixed;
    width:100%;
}
footer p {
    text-align: left;
    font-size: 0.8rem;
    height: 2rem;
    margin-top:1rem ;
}
#container{
    display: flex;
}
.card__content {
    margin: 1rem 1rem;
    background-color: rgb(39, 128, 128);
    padding: 1rem 1rem;
}

.card__content h3 {
color: var(--text-color);
border: var(--text-color);
text-align: left;
padding: 0.6 rem;
margin: 0.5rem;
background-color: red;
position: absolute;
border-radius: 0.6rem;
font-size: 1.5vw;
}
